h1 {
    font-size: 50px;
    font-family: Verdana;
    color: white;
}

.y h1 {
    font-size: 45px;
    font-family: Comic Sans MS;
    color: whitesmoke;
}

.title h1 {
    font-size: 75px;
    font-family: Comic Sans MS;
}

.t p {
    font-size: 45px;
    position: relative;
    right: -30cm;
    font-family: Times;
    color: aliceblue;
}

@media (max-width: 800px) {
    .title h1 {
        font-size: 45px;
        font-family: Comic Sans MS;
    }
    .y h1 {
        font-size: 35px;
        font-family: Comic Sans MS;
        color: whitesmoke;
    }
}